.main{
  margin-top: 120px;
  height: 800px;
  background-color: #fafafa;
  background-image: url('../../img/hero-phones-desktop.png'),  url('../../img/hero-bg-desktop.png');
  background-repeat: no-repeat;
  background-size:  750px;
  background-position: calc(50%  + 400px) -50px;

}

.hero__inner{
  display: flex;
}

.hero__content{
  max-width: 447px;
  color: #2D314D;
}

.hero__heading {
  font-size: 56px
}

.hero__text{
  font-size: 18px
}

@media only screen and (max-width:780px) {
  .main {
    margin-top: 120px;
    height: 800px;
    background-color: #fafafa;
    background-image: url("../../img/hero-phones-desktop.png"), url("../../img/hero-bg-desktop.png");
    background-repeat: no-repeat;
    background-size: 600px;
    background-position: calc(50% + 00px) -50px;
  }

  .hero__content {
    max-width: 447px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    color: #2D314D;
    margin-top: 620px;
  }
}

@media only screen and (max-width:610px) {
  .main {
    margin-top: 120px;
    height: 800px;
    background-color: #fafafa;
    background-image: url("../../img/hero-phones-desktop.png"), url("../../img/hero-bg-desktop.png");
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: calc(50% + 00px) -50px;
  }

  .hero__content {
    max-width: 447px;
    text-align: center;
    margin-top: 400px;
    margin-right: auto;
    margin-left: auto;
    color: #2D314D;
  }

  .hero__heading {
    font-size: 46px;
  }
}

@media only screen and (max-width: 440px) {
  .main {
    margin-top: 120px;
    height: 800px;
    background-color: #fafafa;
    background-image: url("../../img/hero-phones-desktop.png"), url("../../img/hero-bg-desktop.png");
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: calc(50% + 00px) -50px;
  }

  .hero__content {
    max-width: 447px;
    text-align: center;
    margin-top: 300px;
    margin-right: auto;
    margin-left: auto;
    color: #2D314D;
  }

  .hero__heading {
    font-size: 36px;
  }
}

